* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none; 
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* --------INICIO MAIN------- */
main{
    padding: 20px;
}

h1{
    font-weight: 400;
    font-size:30px;
    background-color: #09569a;
    color: white;
    height: 50px;
    width: 350px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    transition: 200ms;
}

h1:hover{
    font-weight: 700;
}

#descripcion-titulo{
    padding: 20px 0;
    font-size: 18px;
}

h2{
    padding: 20px;
}
.container-contacto{
    align-content: center;
    text-align: center;
}
.div-vinculos{
    background-color: #09569a;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
}
.vinculo-contacto{
    text-align:center;
    align-content: center;
}
.vinculo-contacto img{
    width: 75px;
    padding: 10px;
    transition: 200ms;
}

.vinculo-contacto a p{
    font-size: 20px;
    color:white;
    transition: 200ms;
    width: 350px;
    text-align: center;
}

.vinculo-contacto a{
    width: 300px;
}

.vinculo-contacto img:hover{
    border: white 1px solid;
    border-radius: 10px;
}

.vinculo-contacto p:hover{
    font-weight: bold;
}

.container-horarios{
    text-align: center;
    margin: 20px;
}


.container-horarios h3{
    padding: 20px 0 10px 0;
    font-size: 20px;
    color: #09569a;
}
.container-horarios img{
    width: 3%;
}

.container-horarios p{
    font-weight: 500;
    font-size: 18px;
}

.container-ubicacion{
    margin: 20px;
    text-align: center;
}

.container-ubicacion img{
    width: 3%;
}

.container-ubicacion p{
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
}

@media(max-width:991px){
    main{
        padding: 10px 0;
    }
    .div-vinculos{
        display: block;
        border-radius: 0;
    }
    .vinculo-contacto{
        margin: 10px 0;
    }
    #descripcion-titulo{
        text-align: center;
    }

    h1{
        margin: auto;
        font-size: 20px;
        height: 40px;
        width: 350px;
    }
    .container-horarios img{
        width: 10%;
    }

    .container-ubicacion img{
        width: 12%;
    }
}