* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none; 
}
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

a{
    text-decoration: none;
}
/*------------ MAIN ------------*/
main {
align-items: center;
}

.slide-box{
    background-image:url(/img/productos/abertura.jpg);
    min-height: 700px;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
}
.texto-bienvenida{
    display: block;
    margin: 40px;
}
.texto-bienvenida h1{
    color: white;
    text-align: center;
}
.texto-bienvenida a h3{
    color: white;
    background-color: #09569a;
    width: 350px;
    text-align: center;
    height: 40px;
    align-content: center;
    border-radius: 10px;
    transition: 200ms;
}

.section-productos{
    margin: 20px 0;
}

.section-productos h2{
    text-align: center;
    font-size: 30px;
    background-color:#09569a;
    margin-bottom: 20px;
    padding: 15px;
    color: white;
}

.texto-bienvenida a h3:hover{
    font-weight: 800;
}
@media(max-width:991px){
    .slide-box{
        min-height: 500px;
        justify-content: center;
    }
}
/* ----------TARJETAS HOME --------------*/

.tarjeta{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.tarjeta-producto{
    /* width: 500px; */
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.tarjeta-producto:hover{
    transform: scale(1.02);
}
.tarjeta-producto img{
    height: 370px;
    width:450px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    transform: scale(1.025);
    transition: transform 0.3s ease;
}

.tarjeta-producto h3 a{
    color: white;
    transition: 200ms;
}

.tarjeta-producto h3{
    background-color: #09569a;
    width: 450px;
    text-align: center;
    color: white;
    height: 55px;
    align-content: center;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    margin-top: 0;
}

@media(max-width:991px){
    .tarjeta{
        display: block;
    }
    .tarjeta-producto{
        margin: 15px 10px;
    }
    .tarjeta-producto img{
        width: 100%;
        height: 300px; 
    }
    .tarjeta-producto h3{
        width: 100%;
    }
    .section-productos h2{
        margin-bottom: 0;
    }
}

.tarjeta-producto h3 a:hover{
    font-weight: 800;
}
.tarjeta-producto img:hover{
    /* border-image: space; */
    transform: scale(1.04);
}

/*------------ INICIO INSUMOS------------*/

.section-insumos h3{
    color:#09569a;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}
.conteiner-texto{
    display: flex;
    width: 100%;
    justify-content: center;
}

.conteiner-items{
    justify-content: center;
}
.conteiner-items p{
    background-color: #E8E8E8;
    color:#09569a;
    width: 250px;
    height: 75px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: center;
    align-content: center;
    border-radius: 10px 0 0 10px;
}
.conteiner-box{
    background-color: #09569a;
    margin: 0 0 10px 0;
    width: 70%;
}

/*------------ FIN INSUMOS------------*/

/*------------ INICIO PROVEEDORES------------*/

.section-proveedores{
    background-color: #E8E8E8;
    align-content: center;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
}
.section-proveedores h3{
    font-size: 25px;
    color: #09569a;
    margin-bottom: 20px;
    text-align: center;
    transition: 200ms;
}

.section-proveedores p{
    margin-bottom: 40px;
    font-weight: bold;
}

.conteiner-proveedores a img{
    height: 200px;
    padding: 20px;
    transition: transform 200ms ease;

}

.conteiner-proveedores{
    display: flex;
    justify-content: space-around;
}

.section-proveedores h3:hover{
    font-weight: 800;
}
.conteiner-proveedores a img:hover{
    background-color:white;
    border-radius: 10px;
    transform: scale(1.03);
}

@media(max-width:991px){
    .conteiner-proveedores{
        display: inline-block;
    }

    .conteiner-proveedores a img{
        height: 120px;
        margin: 25px;
        padding: 0;
    }

    .conteiner-proveedores a img:hover{
        background-color: #E8E8E8;
    }

    .section-proveedores p{
        display: none;
    }
}
/*------------ FIN MAIN------------*/
