* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none; 
}
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

a{
    text-decoration: none;
}

/* -----------MAIN----------- */

main{
    padding: 20px;
}

h1{
    font-weight: 400;
    font-size:30px;
    background-color: #09569a;
    color: white;
    height: 50px;
    width: 350px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    transition: 200ms;
}

h1:hover{
    font-weight: 700;
}

#descripcion-titulo{
    padding: 20px 0;
    font-size: 18px;
}


/* ----------INICIO GALERIA---------- */

.section-gallery h2{
    text-align: center;
    font-size: 30px;
    color: #09569a;
    font-family: "Montserrat", sans-serif;
}

.section-gallery .container{
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    padding: 30px 8%;
}

.section-gallery .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:30px;
}

.section-gallery .gallery img{
    width: 100%;
}

@media(max-width:991px){
    /* .section-gallery .gallery a{
        width: 50%;
    } */
    .section-gallery .container{
        padding: 2%;
    }

    #descripcion-titulo{
        text-align: center;
        font-size: 15px;
    }

    h1{
        font-size: 20px;
        height: 40px;
        width: 350px;
    }

}



/* ----------FIN GALERIA---------- */