* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;

}

a {
    text-decoration: none;
}

/* ------MAIN------- */

main {
    padding: 20px;
}

h1 {
    font-weight: 400;
    font-size: 30px;
    background-color: #09569a;
    color: white;
    height: 50px;
    width: 350px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    transition: 200ms;
}

h1:hover {
    font-weight: 700;
}

h2 {
    text-align: center;
    padding: 10px;
}

#descripcion-titulo {
    padding: 20px 0;
    font-size: 18px;
}

@media(max-width:991px) {
    h1 {
        font-size: 20px;
        height: 40px;
        width: 350px;
    }

    #descripcion-titulo {
        text-align: center;
        font-size: 15px;
    }
}

/* -------------FORMULARIO---------- */
.container-formulario {
    display: flex;
    justify-content: center;
}

.formulario-contacto {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #09569a;
}

.formulario-contacto:hover {
    transition: 200ms ease;
}

.div-formulario-contacto {
    display: flex;
    justify-content: center;
}

.datos-cliente input {
    background-color: #e8e8e8;
    color-scheme: white;
    color: black;
    font-family: "Montserrat", sans-serif;
    height: 40px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
}

#exampleFile {
    padding: 7px 10px 10px 10px;
    border: black solid 2px;
}

.datos-obra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.datos-obra fieldset {
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 10px;
}

.datos-obra fieldset legend {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

#mensaje {
    border-radius: 10px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

.datos-obra fieldset label {
    padding: 20px;
}

.datos-obra fieldset input {
    margin: 0 10px;
}

#radio-email,
#radio-whatsapp,
#radio-telefono,
#checkbox-abertura,
#checkbox-mampara,
#checkbox-espejo,
#checkbox-baranda {
    cursor: pointer;
}


#boton-enviar {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: #09569a;
    color: white;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
}

#boton-enviar:hover {
    color: #09569a;
    background-color: white;
    transition: 300ms;
    cursor: pointer;
}

.hidden {
    display: none;
}

#mensajeExito {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}

@media(max-width:991px) {
    h1{
        margin: 0 10px;
    }
    .div-formulario-contacto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container-formulario {
        width: 100%;
    }

    .datos-obra fieldset {
        display: flex;
        justify-content: center;
        width: 350px;
    }

    .datos-obra fieldset label {
        padding: 0;
    }

    #mensaje {
        width: 100%;
    }

    .formulario-contacto {
        width: 100%;
        border-radius: 0;
        border: 1px 0 solid #09569a;
    }

    main {
        padding: 10px;
        display: block;
    }
}