* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none; 
}
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

a{
    text-decoration: none;
}

/* ------MAIN------- */

main{
    padding: 20px;
}

h1{
    font-weight: 400;
    font-size:30px;
    background-color: #09569a;
    color: white;
    height: 50px;
    width: 350px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    transition: 200ms;
}

h1:hover{
    font-weight: 700;
}

#descripcion-titulo{
    padding: 20px 0;
    font-size: 18px;
}

.producto-caratula{
    display: flex;
    margin-bottom: 20px;
    height:100%;
}

.producto-caratula a img{
    width: 100%;
    border-radius: 10px 0 0 10px;
}

#enlace-producto{
    width: 700px;
    height: 100%;
    transition: 300ms ease;
}
#enlace-producto:hover{
    transform: scale(1.01);
}
.producto-caratula-texto{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E8E8E8;
    border-radius: 0 10px 10px 0;
}
.producto-caratula-texto a{
    text-align: center;
}
.producto-caratula-texto a button{
    align-self: center;
    padding: 10px 30px;
    border: #e8e8e8 solid 3px;
    border-radius: 10px;
    background-color: #09569a;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    transition: 200ms;
}
.producto-caratula-texto p{
    line-height:30px;
}
/* -----TEXTO TARJETA----------- */
.texto-encabezado{
    font-weight: bold;
    margin: 20px 0;
    font-size: large;
    text-align: center;
}
.texto-titulo{
    font-weight: bold;
}
.texto-titulo::after{
    content: ":";
}

/* -----FIN TEXTO TARJETA----------- */
.producto-caratula-texto h2{
    color: #09569a;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: 200ms;
}

.producto-caratula-texto button:hover{
    border: #09569a solid 3px;
    background-color: white;
    color: #09569a;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.producto-caratula-texto h2:hover{
    background-color: white;
}

.container-vinculos{
    padding: 0 0 20px 0;
    text-align: center;
    align-content: center;
}
.container-vinculos p{
    padding: 20px;
    font-weight: bold;
    font-size:20px;
    margin-top: 20px;
}

.container-vinculos a button{
    height: 50px;
    width: 20%;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #09569a;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    transition: 200ms;
}

.container-vinculos a button:hover{
    border: #09569a solid 3px;
    background-color: white;
    color: #09569a;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    cursor: pointer;
}


@media(max-width:991px){
    h1{
        font-size: 20px;
        height: 40px;
        width: 350px;
    }
    #descripcion-titulo{
        text-align: center;
        font-size: 15px;
    }
    .producto-caratula-texto h2{
        font-size: 20px;
        margin: 0 0 10px 0;
        align-content: center;
        padding: 0;
        width: 100%;
        height:30px;
    }
    .producto-caratula{
        display: block;
    }
    .producto-caratula img{
        height: 60%;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .producto-caratula-texto{
        border-radius: 0 0 10px 10px;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    .producto-caratula-texto button{
        margin-top: 10px;
        align-self: center;
        padding: 5px 15px;
        font-size: 15px;
    }
    .container-vinculos p{
        padding: 20px 0;
    }
    .container-vinculos a button{
        width: 70%;
    }
    #enlace-producto{
        border-radius: 10px 10px 0 0;
        width: 100%;
    }

    .texto-descripcion{
        display: none;
    }
    .texto-titulo::after{
        content: "";
    }
    .texto-encabezado{
        display: none;
    }
}

footer h3{
    font-weight: bold;
}